/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Post and page content
	# Alignments
	# Blocks
	# Custom block colors
	# Media
		# Captions
		# Galleries
	# Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Post and page content
--------------------------------------------------------------*/
/* Custom rule  for sticky posts:
.sticky {

}
*/

.hentry {
	margin-bottom: 1rem;
}

.entry-content ul > li,
.entry-content ol > li {
	margin-bottom: .5em;
}

.entry-meta,
.entry-footer {
	font-size: 80%;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.entry-meta a,
.entry-footer a {
	font-weight: 700;
	text-decoration: none;
}
.entry-meta a:hover,
.entry-meta a:focus,
.entry-meta a:active,
.entry-footer a:hover,
.entry-footer a:focus,
.entry-footer a:active {
	text-decoration: underline;
}

/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}

.post-thumbnail img {
	margin: 0 auto;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-content > *,
.entry-content > *,
.entry-summary > *,
.not-found > * {
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	max-width: var(--content-width);
}

.page-title,
.entry-header,
.entry-footer,
.site-info,
.post-navigation,
.page-navigation,
.comments-area {
	margin: 1.5em auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	max-width: var(--content-width);
}

.entry-footer span {
	margin-right: 1em;
}

.entry-footer {
	clear: both;
	padding: 1.5rem;
}

/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/
.alignleft {
	float: left;
	margin-right: 1.5rem;
}

.alignright {
	float: right;
	margin-left: 1.5rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (--content-query) {

	.wp-caption.alignright,
	.wp-block-image.alignright {
		margin-right: calc((100% - var(--content-width)) / 2);
	}

	.wp-caption.alignleft,
	.wp-block-image.alignleft {
		margin-left: calc((100% - var(--content-width)) / 2);
	}

}

/*--------------------------------------------------------------
## Blocks
--------------------------------------------------------------*/
/*
 * Available block selectors:

 * .wp-block-image
 * .wp-block-gallery
 * .wp-block-video
 * .wp-block-quote
 * .wp-block-text-columns
 * .wp-block-cover-text
 * .wp-block-button
 * .wp-block-gallery
 * .wp-block-table
 * .wp-block-embed
 * .wp-block-audio
 * .wp-block-pullquote
 * .wp-block-preformatted
 * .wp-block-code
 * .wp-block-verse

 */

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin: 1.5em auto;
	padding: 0 1em;
}

.entry-content ul,
.entry-content ol {
	padding-right: 2.5em;
	padding-left: 2.5em;
}

.entry-content ul ul,
.entry-content ol ol {
	margin-right: 0;
	margin-left: 0;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

.alignwide {
	max-width: calc(50% + var(--content-width) / 2);
}

.alignfull {
	max-width: 100%;
	padding: 0;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image h2 {
	margin-top: 0;
}

@media (--content-query) {
	.entry-content pre {
		padding: 1.5em;
	}
}

/* Columns Block (experimental) */
.wp-block-columns {
	display: block;
}

.wp-block-column:not(:first-child) {
	margin-left: 0;

}
.wp-block-column:not(:last-child) {
	margin-right: 0;
}

@media (--content-query) {
	.wp-block-columns {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	.wp-block-column:not(:first-child) {
		margin-left: 3rem;
	}

	.has-2-columns .wp-block-column {
		flex-grow: 1;
		flex: none;
		width: calc(50% - 1.5rem);
	}

	.has-3-columns .wp-block-column {
		flex-grow: 1;
		flex: none;
		width: calc(33.3333% - 1.5rem);
	}

	.has-4-columns .wp-block-column {
		flex-grow: 1;
		flex: none;
		width: calc(25% - 1.5em);
	}
}
/* END Columns Block (experimental) */

.wp-block-latest-posts,
.wp-block-latest-comments {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid hsl(0, 0%, 80%);
}

/*--------------------------------------------------------------
## Custom block colors.
--------------------------------------------------------------*/

.has-primary-color,
.has-primary-color a {
	color: var(--color-primary);
}
.has-primary-background-color {
	background-color: var(--color-primary);
}

.has-accent-blue-color,
.has-accent-blue-color a {
	color: var(--color-accent);
}
.has-accent-blue-background-color {
	background-color: var(--color-accent);
}

.has-light-green-color,
.has-light-green-color a {
	color: var(--color-light-green);
}
.has-light-green-background-color {
	background-color: var(--color-light-green);
}

.has-dark-green-color,
.has-dark-green-color a {
	color: var(--color-dark-green);
}
.has-dark-green-background-color {
	background-color: var(--color-dark-green);
}

.has-almost-black-color,
.has-almost-black-color a {
	color: var(--color-almost-black);
}
.has-almost-black-background-color {
	background-color: var(--color-almost-black);
}

.has-gray-blue-color,
.has-gray-blue-color a {
	color: var(--color-gray-blue);
}
.has-gray-blue-background-color {
	background-color: var(--color-gray-blue);
}

.has-pink-color,
.has-pink-color a {
	color: var(--color-pink);
}
.has-pink-background-color {
	background-color: var(--color-pink);
}

.has-tan-color,
.has-tan-color a {
	color: var(--color-tan);
}
.has-tan-background-color {
	background-color: var(--color-tan);
}

.has-dark-gold-color,
.has-dark-gold-color a {
	color: var(--color-dark-gold);
}
.has-dark-gold-background-color {
	background-color: var(--color-dark-gold);
}

.has-light-gold-color,
.has-light-gold-color a {
	color: var(--color-light-gold);
}
.has-light-gold-background-color {
	background-color: var(--color-light-gold);
}

.has-neutral-1-color,
.has-neutral-1-color a {
	color: var(--color-neutral-1);
}
.has-neutral-1-background-color {
	background-color: var(--color-neutral-1);
}

.has-neutral-2-color,
.has-neutral-2-color a {
	color: var(--color-neutral-2);
}
.has-neutral-2-background-color {
	background-color: var(--color-neutral-2);
}

.has-neutral-3-color,
.has-neutral-3-color a {
	color: var(--color-neutral-3);
}
.has-neutral-3-background-color {
	background-color: var(--color-neutral-3);
}

.has-white-color,
.has-white-color a {
	color: #fff;
}
.has-white-background-color {
	background-color: #fff;
}

.has-default-color,
.has-default-color a {
	color: var(--color-gray-dark);
}
.has-default-background-color {
	background-color: var(--color-gray-dark);
}

/*--------------------------------------------------------------
## Custom block font sizes.
--------------------------------------------------------------*/

.has-small-font-size {
	font-size: calc(var(--small-font-size) / 16)rem;
}

.has-regular-font-size {
	font-size: calc(var(--regular-font-size) / 16)rem;
}

.has-large-font-size {
	font-size: calc(var(--large-font-size) / 16)rem;
}

.has-larger-font-size {
	font-size: calc(var(--larger-font-size) / 16)rem;
}

/*--------------------------------------------------------------
## Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
### Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
### Gallery Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-gallery:not(.components-placeholder) {
	margin: 1.5em auto;
}

/* Override standard ul indentation. */

.entry-content .wp-block-gallery {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

@media screen and (min-width: 48em) {
	.entry-content .wp-block-gallery {
		padding-right: 0;
		padding-left: 0;
	}
}

.wp-block-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: .5em;
}

.wp-block-gallery.columns-2 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-5 .blocks-gallery-item,
.wp-block-gallery.columns-6 .blocks-gallery-item,
.wp-block-gallery.columns-7 .blocks-gallery-item,
.wp-block-gallery.columns-8 .blocks-gallery-item,
.wp-block-gallery.columns-9 .blocks-gallery-item {
	grid-column: span 1;
	margin: 0;
	width: inherit;
}


.blocks-gallery-item:last-child:nth-child(odd) {
	grid-column: span 2;
}

@media screen and (min-width: 40em) {
	.wp-block-gallery.columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.wp-block-gallery.columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.wp-block-gallery.columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.wp-block-gallery.columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.wp-block-gallery.columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.wp-block-gallery.columns-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.wp-block-gallery.columns-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.wp-block-gallery.columns-9 {
		grid-template-columns: repeat(9, 1fr);
	}
}

/*--------------------------------------------------------------
### Galleries (Legacy)
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: .5em;
}

@media screen and (min-width: 40em) {
	.gallery-columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.gallery-columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.gallery-columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.gallery-columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.gallery-columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.gallery-columns-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.gallery-columns-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.gallery-columns-9 {
		grid-template-columns: repeat(9, 1fr);
	}
}

.gallery-item {
	padding: .5em;
	border: 1px solid rgb(222, 222, 222);
}

.gallery-icon {
	display: flex;
	justify-content: center;
}

.gallery-caption {
	font-size: 80%;
}

.column-cta .wp-block-column {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 32rem;
}

.column-cta .wp-block-column > * {
	position: relative;
	text-align: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.column-cta .wp-block-column > figure {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
}
.column-cta .wp-block-column > figure img {
	display: block;
	margin: 0 auto;
	opacity: .75;
	transition: .25s opacity ease-out;
	height: 100%;
	width: auto;
	max-width: 32rem;
}
.column-cta .wp-block-column > figure img:hover,
.column-cta .wp-block-column > figure img:focus {
	opacity: 1;
}

.column-cta .wp-block-column {
	overflow: hidden;
}

.preview-posts ul {
	list-style: none;
	margin-left: 0;
	padding: 0;
}

.preview-posts ul li {
	margin-bottom: 1.5rem;
}

.preview-posts__thumbnail-wrapper {
	display: block;
	position: relative;
	height: 0;
	overflow: hidden;
	margin-bottom: 1rem;
	padding-bottom: 56.25%;
}

.preview-posts .wp-post-image {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.preview-posts__title {
	font-size: 2rem;
}
.preview-posts__title a {
	color: var(--color-headings);
	text-decoration: none;
}
.preview-posts__title a:hover,
.preview-posts__title a:focus,
.preview-posts__title a:active {
	text-decoration: underline;
}

@media (--content-query) {
	.preview-posts ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 3rem;
	}
}

.rellax-wrapper {
	position: relative;
	overflow: hidden;
	margin: 0;
}

.rellax-wrapper .rellax {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
	.rellax-wrapper {
		height: 25rem;
	}
	.rellax-wrapper .rellax {
		height: 32rem;
		margin-top: -3%;
	}
}

@media screen and (min-width: 768px) {
	.rellax-wrapper {
		height: 45rem;
	}
	.rellax-wrapper .rellax {
		height: 52rem;
		margin-top: -3%;
	}
}

@media screen and (min-width: 1400px) {
	.rellax-wrapper {
		height: 55rem;
	}
	.rellax-wrapper .rellax {
		height: 62rem;
		margin-top: -3%;
	}
}
